# Virtual Environment
.venv/
venv/
env./

# Python cache
__pycache__/
*.py[cod]

# Database
db.sqlite3
data.json
backups/

# OS files
.DS_Store

# Media files (مهم!)
statics/media_root/
media/
media_root/

# Django specific
*.log
local_settings.py
.env
env.
.env.*
logs/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Heavy static folders
assets/
statics/statics-main/admin/
statics/statics-main/revolution/