# Virtual Environment
.venv/
venv/
env./

# Python cache
__pycache__/
*.py[cod]

# Database
db.sqlite3

# OS files
.DS_Store

# Media files (مهم!)
statics/media_root/
media/
media_root/

# Django specific
*.log
local_settings.py
.env
env.
.env.*

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Migrations (اختیاری - فعلاً نگه دار)
# products/migrations/0000*__*.py   # اگر خواستی فقط اولیه‌ها رو نادیده بگیری