{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% if site_settings and site_settings.favicon %}
        <link href="{{ site_settings.favicon.url }}" rel="icon"/>
    {% else %}
        <link href="{% static 'image/favicon.png' %}" rel="icon"/>
    {% endif %}
    <title>DjangoMart - Online Shop</title>
    <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
    <!-- CSS Part Start-->
    <link rel="stylesheet" href="{% static 'js/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- CSS Part End-->
</head>

<body>
<div class="wrapper-wide">
    <div id="header">
        <!-- Top Bar Start-->
        <nav id="top" class="htop">
            <div class="container">
                <div class="row"><span class="drop-icon visible-sm visible-xs"><i
                        class="fa fa-align-justify"></i></span>
                    <div class="pull-left flip left-top">
                        <div class="links">
                            <ul>
                                <li class="mobile"><i class="fa fa-phone"></i>+98 912 000 0000</li>
                                <li class="email"><a href="mailto:Nimasaket6@gmail.com"><i class="fa fa-envelope"></i>Nimasaket6@gmail.com</a></li>
                                </li>
                                <li><a href="#"><i class="fa fa-truck"></i> Track Order</a></li>
                                <li><a href="{% url 'products:cart_detail' %}"><i class="fa fa-heart"></i> Wish List (0)</a></li>
                                <li><a href="{% url 'products:cart_detail' %}"><i class="fa fa-shopping-cart"></i> Checkout</a></li>
                            </ul>
                        </div>
                        <div id="language" class="btn-group">
                            <button class="btn-link dropdown-toggle" data-toggle="dropdown"><span> <img
                                    src="{%static 'image/flags/gb.png'%}" alt="English" title="English">English <i
                                    class="fa fa-caret-down"></i></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="btn btn-link btn-block language-select" type="button" name="GB"><img
                                            src="{% static 'image/flags/gb.png' %}" alt="English" title="English"/>
                                        English
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-link btn-block language-select" type="button" name="GB"><img
                                            src="{% static 'image/flags/ar.png' %}" alt="Arabic" title="Arabic"/> Arabic
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div id="currency" class="btn-group">
                            <button class="btn-link dropdown-toggle" data-toggle="dropdown"><span> $ USD <i
                                    class="fa fa-caret-down"></i></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€
                                        Euro
                                    </button>
                                </li>
                                <li>
                                    <button class="currency-select btn btn-link btn-block" type="button" name="GBP">£
                                        Pound Sterling
                                    </button>
                                </li>
                                <li>
                                    <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US
                                        Dollar
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="top-links" class="nav pull-right flip">
                        <ul>
                            {% if user.is_authenticated %}
                            <li><a href="#"><i class="fa fa-user"></i> Hello, {{ user.username }}</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}"><i class="fa fa-lock"></i> Login</a></li>
                            <li><a href="{% url 'register' %}"><i class="fa fa-pencil-square-o"></i> Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Top Bar End-->
        <!-- Header Start-->
        <header class="header-row" style="padding-top: 10px; padding-bottom: 10px;">
            <div class="container">
                <div class="table-container">
                    <!-- Logo Start -->
                    <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                        <div id="logo">
                            <a href="{% url 'home' %}">
                            {% if site_settings and site_settings.logo %}
                                <img src="{{ site_settings.logo.url }}"
                                     title="{{ site_settings.site_name }}"
                                     alt="{{ site_settings.site_name }}"
                                     style="height: 80px; width: auto;"/>
                            {% else %}
                                <img src="{% static 'image/logo.png' %}"
                                     title="DjangoMart"
                                     alt="DjangoMart"
                                     style="height: 80px; width: auto;"/>
                            {% endif %}
                        </a>
                        </div>
                    </div>
                    <!-- Logo End -->
                    <!-- Mini Cart Start-->
                    <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div id="cart">
                            <button type="button" data-toggle="dropdown" data-loading-text="Loading..."
                                    class="heading dropdown-toggle">
                                <span class="cart-icon pull-left flip"></span>
                                <span id="cart-total">
                                    {% if cart %}{{ cart.get_count }}{% else %}0{% endif %} item(s) -
                                    {% if cart %}{{ cart.get_total }}{% else %}0{% endif %}
                                </span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table">
                                        <tbody>
                                        {% if cart %}
                                        {% for item in cart.items.all %}
                                        <tr>
                                            <td class="text-center">
                                                <a href="{% url 'products:product_detail' item.product.slug %}">
                                                    {% if item.product.image %}
                                                    <img class="img-thumbnail" title="{{ item.product.name }}"
                                                         alt="{{ item.product.name }}" src="{{ item.product.image.url }}">
                                                    {% else %}
                                                    <img class="img-thumbnail" title="{{ item.product.name }}"
                                                         alt="{{ item.product.name }}" src="{% static 'image/product/no-image.jpg' %}">
                                                    {% endif %}
                                                </a>
                                            </td>
                                            <td class="text-left">
                                                <a href="{% url 'products:product_detail' item.product.slug %}">{{ item.product.name }}</a>
                                            </td>
                                            <td class="text-right">x {{ item.quantity }}</td>
                                            <td class="text-right">{{ item.get_subtotal }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'products:cart_remove' item.id %}"
                                                   class="btn btn-danger btn-xs" title="Remove">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr><td colspan="5">Your cart is empty.</td></tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr><td colspan="5">Your cart is empty.</td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td class="text-right"><strong>Total</strong></td>
                                                <td class="text-right">{% if cart %}{{ cart.get_total }}{% else %}0{% endif %}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p class="checkout">
                                            <a href="{% url 'products:cart_detail' %}" class="btn btn-primary">
                                                <i class="fa fa-shopping-cart"></i> View Cart
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a href="#" class="btn btn-primary">
                                                <i class="fa fa-share"></i> Checkout
                                            </a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mini Cart End-->
                    <!-- Search Start-->
                    <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
                        <form action="{% url 'products:search' %}" method="GET">
                            <div id="search" class="input-group">
                                <input id="filter_name" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search"
                                       class="form-control input-lg"/>
                                <button type="submit" class="button-search"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- Search End-->
                </div>
            </div>
        </header>
        <!-- Header End-->
    </div>