
Navigation · HTML
{% load static %}
<div class="container">
    <nav id="menu" class="navbar">
        <div class="navbar-header"><span class="visible-xs visible-sm"> Menu <b></b></span></div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a class="home_link" title="Home" href="{% url 'home' %}"><span>Home</span></a></li>

                <li class="mega-menu dropdown"><a>Categories</a>
                    <div class="dropdown-menu">
                        {% for cat in categories %}
                        <div class="column col-lg-2 col-md-3">
                            <a href="{% url 'products:category' cat.slug %}">{{ cat.title }}</a>
                            <div>
                                <ul>
                                    {% for child in cat.children.all %}
                                    <li>
                                        <a href="{% url 'products:category_detail' cat.slug child.slug %}">{{ child.title }} {% if child.children.all %}<span>&rsaquo;</span>{% endif %}</a>
                                        {% if child.children.all %}
                                        <div class="dropdown-menu">
                                            <ul>
                                                {% for sub_child in child.children.all %}
                                                <li><a href="{% url 'products:category_detail' child.slug sub_child.slug %}">{{ sub_child.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>

                <li class="menu_brands dropdown"><a href="#">Brands</a>
                    <div class="dropdown-menu">
                        {% for brand in brands %}
                        <div class="col-lg-1 col-md-2 col-sm-3 col-xs-6">
                            {% if brand.logo %}
                            <a href="#"><img src="{{ brand.logo.url }}" title="{{ brand.name }}" alt="{{ brand.name }}" style="width:60px;height:60px;object-fit:contain;"/></a>
                            {% endif %}
                            <a href="#">{{ brand.name }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </li>

                <li class="custom-link"><a href="#">New Arrivals</a></li>

                <li class="custom-link"><a href="#">Best Sellers</a></li>
                <li class="dropdown information-link"><a>Pages</a>
                    <div class="dropdown-menu">
                        <ul>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="{% url 'products:category_list' %}">Category</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="{% url 'products:cart_detail' %}">Shopping Cart</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Compare</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="{% url 'products:search' %}">Search</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">404</a></li>
                            <li><a href="#">Elements</a></li>
                            <li><a href="{% url 'products:faq' %}">Faq</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </li>

                <li class="contact-link"><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li class="custom-link-right"><a href="#" target="_blank"> Buy Now!</a></li>
            </ul>
        </div>
    </nav>
</div>