{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block contents %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
        <li>Forgotten Password</li>
    </ul>

    <h1 class="title">Forgotten Password</h1>
    <p>Enter your email address below and we'll send you a link to reset your password.</p>

    <div class="row">
        <div class="col-sm-6">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn-primary" style="margin-top:15px;">
                    <span>Send Reset Link</span>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
