{% extends 'base/base.html' %}

{% block contents %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
        <li>Forgotten Password</li>
    </ul>

    <h1 class="title">Check Your Email</h1>
    <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock %}
