{% extends 'base/base.html' %}
{% load category_tags %}
{% load static %}

{% block contents %}

<!-- Main Menu Start-->
<!-- Main Menu End-->
<div id="container">
    <!-- Feature Box Start-->
    <div class="container">
        <div class="custom-feature-box row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_1">
                    <div class="title">Free Shipping</div>
                    <p>Free shipping on order over $1000</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_2">
                    <div class="title">Free Return</div>
                    <p>Free return in 24 hour after purchasing</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_3">
                    <div class="title">Gift Cards</div>
                    <p>Give the special perfect gift</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="feature-box fbox_4">
                    <div class="title">Reward Points</div>
                    <p>Earn and spend with ease</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Box End-->
    <div class="container">
        <div class="row">
            <!-- Left Part Start-->
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">Categories</h3>
                <div class="box-category">
                    {% show_categories %}
                </div>
                <h3 class="subtitle">Bestsellers</h3>
                <div class="side-item">
                    {% for product in featured_products %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products available.</p>
                    {% endfor %}
                </div>
                <h3 class="subtitle">Specials</h3>
                <div class="side-item">
                    {% for product in featured_products %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No specials available.</p>
                    {% endfor %}
                </div>
                <div class="list-group">
                    <h3 class="subtitle">Custom Content</h3>
                    <p>This is a CMS block edited from admin. You can insert any content (HTML, Text, Images) Here.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="banner owl-carousel">
                    <div class="item">
                        <a href="#"><img src="{% static 'image/banner/small-banner1-265x350.jpg' %}" alt="small banner" class="img-responsive"/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{% static 'image/banner/small-banner-265x350.jpg' %}" alt="small banner1" class="img-responsive"/></a>
                    </div>
                </div>
                <h3 class="subtitle">Latest</h3>
                <div class="side-item">
                    {% for product in featured_products %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No latest products.</p>
                    {% endfor %}
                </div>
            </aside>
            <!-- Left Part End-->
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <!-- Slideshow Start-->
                <div class="slideshow single-slider owl-carousel">
                    <div class="item">
                        <a href="#"><img class="img-responsive" src="{% static 'image/slider/banner-1.jpg' %}" alt="banner 1"/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img class="img-responsive" src="{% static 'image/slider/banner-2.jpg' %}" alt="banner 2"/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img class="img-responsive" src="{% static 'image/slider/banner-3.jpg' %}" alt="banner 3"/></a>
                    </div>
                </div>
                <!-- Slideshow End-->
                <!-- Featured Product Start-->
                <h3 class="subtitle">Featured</h3>
                <div class="owl-carousel product_carousel">
                    {% for product in featured_products %}
                    <div class="product-thumb">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                        <div class="button-group">
                            <a href="{% url 'products:cart_add' product.id %}" class="btn-primary"><span>Add to Cart</span></a>
                            <div class="add-to-links">
                                <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></button>
                                <button type="button" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></button>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No featured products.</p>
                    {% endfor %}
                </div>
                <!-- Featured Product End-->
                <div class="marketshop-banner">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="{% static 'image/banner/sample-banner-3-400x200.jpg' %}" alt="Sample Banner 3" title="Sample Banner 3" class="img-responsive"/></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="{% static 'image/banner/sample-banner-1-400x200.jpg' %}" alt="Sample Banner" title="Sample Banner" class="img-responsive"/></a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <a href="#"><img src="{% static 'image/banner/sample-banner-2-400x200.jpg' %}" alt="Sample Banner 2" title="Sample Banner 2" class="img-responsive"/></a>
                        </div>
                    </div>
                </div>
                <!-- Categories Product Slider Start-->
                <div class="category-module" id="latest_category">
                    {% for item in categories_with_products %}
                    <h3 class="subtitle">{{ item.category.title }} - <a class="viewall" href="{% url 'products:category' item.category.slug %}">view all</a></h3>
                    <div class="category-module-content">
                        <ul id="sub-cat" class="tabs">
                            {% for child in item.category.get_children %}
                            <li><a href="#tab-{{ child.slug }}">{{ child.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% for child in item.category.get_children %}
                        <div id="tab-{{ child.slug }}" class="tab_content">
                            <div class="owl-carousel latest_category_tabs">
                                {% for product in item.products %}
                                <div class="product-thumb">
                                    <div class="image">
                                        <a href="{% url 'products:product_detail' product.slug %}">
                                            {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                            {% else %}
                                            <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                                        <p class="price">{{ product.price }}</p>
                                    </div>
                                    <div class="button-group">
                                        <a href="{% url 'products:cart_add' product.id %}" class="btn-primary"><span>Add to Cart</span></a>
                                        <div class="add-to-links">
                                            <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></button>
                                            <button type="button" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No products in this category.</p>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <!-- Categories Product Slider End-->
                <!-- Banner Start -->
                <div class="marketshop-banner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <a href="#"><img src="{% static 'image/banner/sample-banner-4-400x150.jpg' %}" alt="2 Block Banner" title="2 Block Banner"/></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <a href="#"><img src="{% static 'image/banner/sample-banner-5-400x150.jpg' %}" alt="2 Block Banner 1" title="2 Block Banner 1"/></a>
                        </div>
                    </div>
                </div>
                <!-- Banner End -->
                <!-- Categories Product Slider Start -->
                {% for item in categories_with_products %}
                <div class="category-module">
                    <h3 class="subtitle">{{ item.category.title }} - <a class="viewall" href="{% url 'products:category' item.category.slug %}">view all</a></h3>
                    <div class="owl-carousel latest_category_carousel">
                        {% for product in item.products %}
                        <div class="product-thumb">
                            <div class="image">
                                <a href="{% url 'products:product_detail' product.slug %}">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                    {% else %}
                                    <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption">
                                <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                                <p class="price">{{ product.price }}</p>
                            </div>
                            <div class="button-group">
                                <a href="{% url 'products:cart_add' product.id %}" class="btn-primary"><span>Add to Cart</span></a>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No products available.</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <!-- Categories Product Slider End -->
                <!-- Brand Product Slider Start-->
                <div class="owl-carousel latest_brands_carousel">
                    {% for product in featured_products %}
                    <div class="product-thumb">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                        <div class="button-group">
                            <a href="{% url 'products:cart_add' product.id %}" class="btn-primary"><span>Add to Cart</span></a>
                            <div class="add-to-links">
                                <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart"></i></button>
                                <button type="button" data-toggle="tooltip" title="Compare this Product"><i class="fa fa-exchange"></i></button>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products available.</p>
                    {% endfor %}
                </div>
                <!-- Brand Product Slider End -->
                <div id="carousel" class="owl-carousel nxt">
                    <div class="item text-center">
                        <a href="#"><img src="{% static 'image/product/apple_logo-100x100.jpg' %}" alt="Palm" class="img-responsive"/></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img src="{% static 'image/product/canon_logo-100x100.jpg' %}" alt="Sony" class="img-responsive"/></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img src="{% static 'image/product/apple_logo-100x100.jpg' %}" alt="Canon" class="img-responsive"/></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img src="{% static 'image/product/canon_logo-100x100.jpg' %}" alt="Apple" class="img-responsive"/></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img src="{% static 'image/product/apple_logo-100x100.jpg' %}" alt="HTC" class="img-responsive"/></a>
                    </div>
                    <div class="item text-center">
                        <a href="#"><img src="{% static 'image/product/canon_logo-100x100.jpg' %}" alt="HP" class="img-responsive"/></a>
                    </div>
                </div>
            </div>
            <!--Middle Part End-->
        </div>
    </div>
</div>

{% endblock %}
