{% extends 'base/base.html' %}
{% load static %}

{% block contents %}
<div class="container">
    <div id="container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
                <li>Best Sellers</li>
            </ul>
            <h1 class="title">Best Sellers</h1>
            <div class="row products-category">
                {% for product in products %}
                <div class="product-layout col-sm-3">
                    <div class="product-thumb">
                        {% if product.discount %}
                        <div class="sale-label">-{{ product.discount }}%</div>
                        {% endif %}
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-responsive" style="width:200px; height:200px; object-fit:cover;"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" class="img-responsive" style="width:200px; height:200px; object-fit:cover;"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            {% if product.discount %}
                            <p class="price">
                                <span class="price-new">${{ product.get_discounted_price }}</span>
                                <span class="price-old">${{ product.price }}</span>
                            </p>
                            {% else %}
                            <p class="price">${{ product.price }}</p>
                            {% endif %}
                            {% if product.get_rating %}
                            <div class="rating">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= product.get_rating %}
                                    <span class="fa fa-star" style="color:#f39c12;"></span>
                                    {% else %}
                                    <span class="fa fa-star-o" style="color:#ccc;"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="button-group">
                            <a href="{% url 'products:cart_add' product.id %}" class="btn-primary"><span>Add to Cart</span></a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No products available.</p>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-sm-6 text-left">
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li><a href="?page=1">&laquo;</a></li>
                        <li><a href="?page={{ products.previous_page_number }}">&lt;</a></li>
                        {% endif %}
                        {% for num in products.paginator.page_range %}
                        {% if products.number == num %}
                        <li class="active"><span>{{ num }}</span></li>
                        {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <li><a href="?page={{ products.next_page_number }}">&gt;</a></li>
                        <li><a href="?page={{ products.paginator.num_pages }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-6 text-right">
                    Showing {{ products.start_index }} to {{ products.end_index }} of {{ products.paginator.count }} products
                    ({{ products.paginator.num_pages }} Pages)
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}