{% extends 'base/base.html' %}
{% load category_tags %}
{% load static %}

{% block contents %}

<!-- Main Menu Start-->
<div class="container">
<!-- Main Menu End-->
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-home"></i></a></li>
            {% if category.parent %}
            <li><a href="{% url 'products:category' category.parent.slug %}">{{ category.parent.title }}</a></li>
            <li><a href="{% url 'products:category_detail' category.parent.slug category.slug %}">{{ category.title }}</a></li>
            {% else %}
            <li><a href="{% url 'products:category' category.slug %}">{{ category.title }}</a></li>
            {% endif %}
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Left Part Start -->
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle">Categories</h3>
                <div class="box-category">
                    {% show_categories %}
                </div>

                <h3 class="subtitle">Bestsellers</h3>
                <div class="side-item">
                    {% for product in products %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No products available.</p>
                    {% endfor %}
                </div>

                <h3 class="subtitle">Specials</h3>
                <div class="side-item">
                    {% for product in products %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No specials available.</p>
                    {% endfor %}
                </div>

                <div class="list-group">
                    <h3 class="subtitle">Custom Content</h3>
                    <p>This is a CMS block edited from admin. You can insert any content (HTML, Text, Images) Here.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="banner owl-carousel">
                    <div class="item">
                        <a href="#"><img src="{% static 'image/banner/small-banner1-265x350.jpg' %}" alt="small banner" class="img-responsive"/></a>
                    </div>
                    <div class="item">
                        <a href="#"><img src="{% static 'image/banner/small-banner-265x350.jpg' %}" alt="small banner1" class="img-responsive"/></a>
                    </div>
                </div>

                <h3 class="subtitle">Latest</h3>
                <div class="side-item">
                    {% for product in products %}
                    <div class="product-thumb clearfix">
                        <div class="image">
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% else %}
                                <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                {% endif %}
                            </a>
                        </div>
                        <div class="caption">
                            <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                            <p class="price">{{ product.price }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No latest products.</p>
                    {% endfor %}
                </div>
            </aside>
            <!--Left Part End -->

            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h1 class="title">{{ category.title }}</h1>

                <h3 class="subtitle">Refine Search</h3>
                <div class="category-list-thumb row">
                    {% for child in category.get_children %}
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <a href="{% url 'products:category_detail' category.slug child.slug %}">
                            <img src="{% static 'image/no_image.jpg' %}" alt="{{ child.title }}"/>
                        </a>
                        <a href="{% url 'products:category_detail' category.slug child.slug %}">{{ category.title }} > {{ child.title }}</a>
                    </div>
                    {% empty %}
                    <p class="col-xs-12">No subcategories.</p>
                    {% endfor %}
                </div>

                <div class="product-filter">
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <div class="btn-group">
                                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="Grid"><i class="fa fa-th"></i></button>
                            </div>
                            <a href="compare.html" id="compare-total">Product Compare (0)</a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <label class="control-label" for="input-sort">Sort By:</label>
                        </div>
                        <div class="col-md-3 col-sm-2 text-right">
                            <select id="input-sort" class="form-control col-sm-3">
                                <option value="" selected="selected">Default</option>
                                <option value="">Name (A - Z)</option>
                                <option value="">Name (Z - A)</option>
                                <option value="">Price (Low &gt; High)</option>
                                <option value="">Price (High &gt; Low)</option>
                                <option value="">Rating (Highest)</option>
                                <option value="">Rating (Lowest)</option>
                                <option value="">Model (A - Z)</option>
                                <option value="">Model (Z - A)</option>
                            </select>
                        </div>
                        <div class="col-sm-1 text-right">
                            <label class="control-label" for="input-limit">Show:</label>
                        </div>
                        <div class="col-sm-2 text-right">
                            <select id="input-limit" class="form-control">
                                <option value="" selected="selected">20</option>
                                <option value="">25</option>
                                <option value="">50</option>
                                <option value="">75</option>
                                <option value="">100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="row products-category">
                    {% for product in products %}
                    <div class="product-layout product-list col-xs-12">
                        <div class="product-thumb">
                            <div class="image">
                                <a href="{% url 'products:product_detail' product.slug %}">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                    {% else %}
                                    <img src="{% static 'image/product/no-image.jpg' %}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/>
                                    {% endif %}
                                </a>
                            </div>
                            <div>
                                <div class="caption">
                                    <h4><a href="{% url 'products:product_detail' product.slug %}">{{ product.name }}</a></h4>
                                    <p class="description">{{ product.description|truncatewords:20 }}</p>
                                    <p class="price">{{ product.price }}</p>
                                </div>
                                <div class="button-group">
                                    <a href="{% url 'products:cart_add' product.id %}" class="btn-primary"><span>Add to Cart</span></a>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" title="Add to Wish List">
                                            <i class="fa fa-heart"></i> <span>Add to Wish List</span>
                                        </button>
                                        <button type="button" data-toggle="tooltip" title="Compare this Product">
                                            <i class="fa fa-exchange"></i> <span>Compare this Product</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-xs-12">
                        <p>No products found in this category.</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-sm-6 text-left">
                        <ul class="pagination">
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">&gt;</a></li>
                            <li><a href="#">&gt;|</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">Showing 1 to 12 of 15 (2 Pages)</div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>

{% endblock %}
